**/node_modules
**/dist
**/lib
**/lib-commonjs
**/lib-esm
**/.pgdata
**/temp
**/release
**/solution
**/*.sppkg
.git
.github
docs
**/coverage
**/playwright-report
**/test-results
**/.vite
apps/web/dist
